.memory-form__main-container {
  width: 55%;
  min-width: 645px;
  height: 100vh;
  overflow-y: scroll;
  overflow-y: scroll;
}

.memory-form__header-info {
  background-color: rgb(133, 174, 248);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.memory-form__id-container {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  align-items: center;
  // background-color: blue;
  width: 50%;
}

.memory-form__id-content {
  // background-color: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.memory-form__id-copy-button {
  margin-left: 10px;
}

.memory-form__id-value,
.memory-form__creation-date-value {
  font-size: 10px;
}

.memory-form__creation-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.memory-form__command-button {
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 3px;
  border: 1px solid rgb(9, 2, 112);
  background-color: #2600ff;
  color:#fff;
  font-weight:400;
  position:absolute;
  top:10px;
  right: 2.5%;
}

//--------

.memory-form__inputs-container {
  justify-content: space-evenly;
  // background-color: blue;
  min-width: 500px;
  width: 94%;
  margin: 0px auto;
  // border: 1px solid black;
}

.memory-form__input-label {
  // border: 1px solid green;
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 22%;
}

.memory-form__input-container {
  display: flex;
  // border: 1px solid red;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.memory-form__input {
  font-size: 16px;
  color: black;
  text-indent: 5px;
  border: 2px solid lightgray;
  width: 60%;
  height: 45px;
  border-radius: 5px;
  //   background-color: #000;
}

.memory-form__input--textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 200px;
}

.memory-form__input--secundary {
  width: 36%;
  margin-left: 5%;
}

.memory-form__input-tag {
  width: 33%;
  margin-right: 2%;
  margin-left: -1%;
}

.memory-form__button-input-tag {
  padding: 0px;
  width: 20%;
  margin-left: 2%;
  cursor: pointer;
}

.memory-form__left-counting-tags {
  margin-bottom: 20px;
  width: 100%;
  margin: 0px auto;
}

.memory-form__img-list-advice {
  width: 98%;
  margin: 0px auto;
}

.memory-form__textarea-slogan {
  max-height: 100px;
  min-height: 55px;
}

.memory-form__textarea-description {
  min-height: 60px;
  max-height: 200px;
}

.memory-form__input-date {
  width: 25%;
  font-size: 15px;
  text-indent: 3px;
}

.memory-form__input-date-label {
  margin: 0px 5px 0px 10px;
  width: 7%;
  font-size: 16px;
  font-weight: bold;
}

.memory-form__input-address {
  font-size: 1.2em;
  color: black;
  width: 60%;
  height: 45px;
  border-radius: 5px;
}

.memory-form__product-tags-list {
  // background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.memory-form__tag-item {
  min-width: 200px;
  overflow-wrap: wrap;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memory-form__tag-name {
  color: black;
  font-weight: bold;
}

.memory-form__button-update {
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  background-color: #21117e;
  color: white;
  margin-top: 40px;
}

.memory-form__buttons-container {
  width: 500px;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.memory-form__image-button {
  margin: 5px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgb(5, 57, 170);
  transition: all 0.3s ease 0s;
  width: 70%;
  // min-width: 200px;
  margin: 0px 15%;
  padding: 10px;
}

.memory-form__image-button:hover {
  color: white;
  background-color: rgb(5, 57, 170);
}

.memory-form__input-image {
  display: flex;
  // display: none;
  visibility: hidden;
  // border: 1px solid red;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.memory-form__image-container {
  width: 35%;
}

//Input memory image form
.memory-form__image-list-container {
  width: 96%;
  margin: 0px 2%;
}

.memory-form__input-image-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.memory-form__input-image-button-container {
  align-self: center;
  display: flex;
  justify-content: center;
  // margin-top: -10px;
}

.memory-form__input-image-button {
  margin: 0px auto;
}

.memory-form__tag-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.memory-form__tag-container {
  width: 150px;
  background-color: rgb(243, 240, 240);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 10px;
}

.memory-form__tag-name {
  margin-bottom: 10px;
}

.memory-image-preview--with-content {
  margin: 20px 10%;
  width: 80%;
}

.memory-image-preview--no-content {
  margin: 20px 40%;
  width: 20%;
  border-radius: 5px;
}

.memory-form__images-list {
  margin-top: 1000px;
}

.memory-image__delete-img-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.auth-list__list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.auth-list__tag-container {
  width: 280px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgb(243, 240, 240);
}

.memory-form__input-shared-email {
  width: 50%;
  margin-right: 2%;
  margin-left: -1%;
}
