.memory-catalog__memory-entry-title {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3px;
  font-size: 20px;
}

.memory-catalog__memory-entry-content {
  margin-left: 10px;
  margin-right: 10px;
  //   background-color: blue;
  //   border: 1px solid black;
  font-size: 15px;
}

.memory-catalog__delete-memory-button {
  position: absolute;
  left: 88%;
  bottom: 88%;
  cursor: pointer;
}

.memory-catalog__visibility-icon {
  color: #000;
  font-size: 20px;
  position: absolute;
  left: 3%;
  bottom: 83%;
  cursor: pointer;
}

.memory-catalog__shared-memory-icon {
  right: 10px;
  color: #000;
  font-size: 20px;
  position: absolute;
  left: 90%;
  bottom: 83%;
}

.memory-catalog__icon-delete-memory {
  font-size: 25px;
}

.memory-catalog__memory-entry-buttons {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0px 2%;
  justify-content: space-evenly;
  margin-top: -5px;
}

.memory-catalog__visit-memory-button {
  margin-bottom: 5px;
}

.memory-catalog__memory-entry-details-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.memory-catalog__memory-entry-details {
  height: 60px;
  //   background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.memory-catalog__memory-entry-details-favorite,
.memory-catalog__memory-entry-details-view-count {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50% !important;
  //   border: 1px solid red;
  align-items: center;
  overflow-wrap: break-word;
}

.memory-catalog__icon-fav-memory {
  margin-top: 30px;
  margin-bottom: -10px;
}

.memory-catalog__visit-memory-button,
.memory-catalog__visit-memory {
  height: 30px;
}
