.search-panel__main-container {
  height: 100vh;
  min-width: 620px;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.search-panel__title {
  margin-bottom: -5px;
}

.search-panel__search-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.search-panel__search-option-radio,
.search-panel__search-option-label {
  margin: 5px auto;
}

.search-panel__input {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-indent: 10px;
  font-size: 15px;
}

.search-panel__search-button {
  width: 150px;
  margin: 30px auto;
  height: 35px;
  align-self: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: rgb(124, 143, 253);
  padding: 5px 10px;
}

.search-panel__input--submit {
  cursor: pointer;
}
