.memory-catalog__sidebar {
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  // min-width: 700px;
  width: 45%;
  min-width: 700px;
  height: 100vh;
}

.memory-catalog__sidebar-navbar {
  // background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
}

.memory-catalog__sidebar-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 5px;
  border-radius: 5px;
}

.memory-catalog__sidebar-user-info:hover {
  background-color: rgb(56, 56, 56);
  transition: all 0.2s ease-in;
}

.memory-catalog__sidebar-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0px;
}

.memory-catalog__img-profile {
  width: 50px;
  padding: 10px;
  margin: -5px;
  border-radius: 50%;
}

.memory-catalog__logo-profile {
  font-size: 50px;
}

.memory-catalog__display-name {
  font-size: 1.2rem;
  margin-left: 15px;
  padding-right: 5px;
}

.memory-catalog__search-button {
  margin-right: 0px;
  padding: 7px 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid darkgray;
  color: #fff;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.memory-catalog__search-button:hover {
  background-color: rgb(0, 17, 255);
  transition: all 0.2s ease-in;
}

.memory-catalog__logout-button {
  background-color: red;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid darkgray;
  color: #fff;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.memory-catalog__logout-button:hover {
  background-color: rgb(255, 0, 0);
  transition: all 0.2s ease-in;
}

.store-catalog__new-memory-container {
  // background-color: green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.store-catalog__new-memory-button {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 200px;
}

.store-catalog__new-memory-img {
  padding-top: 3px;
  width: 80px;
  margin-bottom: -20px;
}

.store-catalog__new-memory-text {
  margin-top: 15px;
  margin-bottom: 5px;
}
